{
	auto_https off
	local_certs
	{$FRANKENPHP_CONFIG}
}

{$SERVER_NAME:localhost} {
	root * /app/public
	php_server
	encode zstd gzip
	file_server

	@websockets {
		header Connection *Upgrade*
		header Upgrade websocket
	}
	reverse_proxy @websockets 127.0.0.1:8080

	header {
		X-XSS-Protection "1; mode=block"
		X-Content-Type-Options "nosniff"
		Permissions-Policy "interest-cohort=()"
		X-Frame-Options "SAMEORIGIN"
	}

	log {
		level INFO
		output stderr
	}
}
